@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

img {
  vertical-align: bottom;
}

/* helper ---------------------- */

.container, .container-md {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.container-md {
  max-width: 800px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* header -------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-head, .header-body, .header-foot {
  padding: .5rem 1rem;
  box-sizing: border-box;
}

.header-head {
  width: 80px;
}

.header-img {
  max-width: 100%;
  height: auto;
}

.header-foot, .header-btn-xmark {
  display: none;
}

.header-ul {
  display: flex;
  background-color: rgba(0, 0, 0, .7);
  padding: .5rem 1rem;
  border-radius: 30px;
}

.header-li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  transition-duration: .3s;
}

.header-link:hover {
  color: #cf7688;
}

/* banner ----------------------- */

.banner {
  color: #fff;
  background-image: linear-gradient(135deg, #cf7688 20%, #f4ba54 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner-container {
  display: flex;
  align-items: center;
}

.banner-head, .banner-body {
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.banner-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.banner-title-line {
  position: relative;
}

.banner-title-line::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  border-top: solid 4px rgba(255, 255, 255, .3);
  width: 1.5em;
}

.banner-small {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.banner-subTitle {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  /* opacity: .7; */
  color: rgba(255, 255, 255, .7);
}

.banner-ul {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .3;
  margin-bottom: 4rem;
}

.banner-li + .banner-li {
  margin-left: 1rem;
  position: relative;
}

.banner-li + .banner-li::before {
  position: absolute;
  top: .4rem;
  left: -.6rem;
  content: "";
  width: 4px;
  height: 4px;
  background-color: rgba(255, 255, 255, .8);
}

.banner-ul-order1 {
  order: -1;
}

.banner-desc {
  line-height: 1.6;
}

.banner-desc + .banner-desc {
  margin-top: 1rem;
}

.banner-desc-lg {
  font-size: 1.5rem;
  line-height: 1.3;
}

.banner-btns {
  margin-top: 2rem;
}

.banner-btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px #fff;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition-duration: .3s;
}

.banner-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

.banner-img {
  max-width: 100%;
  height: auto;
}


.banner-img-mobile, .banner-img-pad {
  position: absolute;
}

.banner-img-desktop {
  margin-left: 4.5rem;
}

.banner-img-mobile {
  left: 0;
  bottom: 5rem;
  z-index: 1;
}

.banner-img-pad {
  right: 1rem;
  bottom: -2rem;
}

.banner-img-fit {
  height: 400px;
  object-fit: cover;
}

.banner-index .banner-head, .banner-index .banner-body {
  padding-top: 3rem;
}

.banner-index .banner-head {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.banner-index .banner-body {
  position: relative;
  width: 60%;
}

.banner-service .banner-img-fit {
  object-position: 0 -244px;
}

.banner-about .banner-img-fit {
  object-position: 0 -194px;
}

/* footer -------------------------------------- */

.footer {
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7rem 1rem 1rem;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.footer-img-logo {
  max-width: 40px;
  height: auto;
  margin-bottom: .5rem;
}

.footer-desc {
  font-size: .9rem;
  color: #fff;
  text-transform: uppercase;
}

.footer-ul {
  display: flex;
}

.footer-li {
  margin-left: 1rem;
}

.footer-link {
  color: #fff;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition-duration: .3s;
}

.footer-link:hover {
  color: #cf7688;
}

/* aside ------------------------------------------ */

.aside {
  position: fixed;
  right: 1rem;
  bottom: 15rem;
  z-index: 10;
}

.aside-link {
  color: rgba(0, 0, 0, .2);
  transition-duration: .3s;
}

.aside-link:hover {
  color: rgba(0, 0, 0, .5);
}

.aside-link-top {
  font-size: 3rem;
}
/* animation-------- */

.ani-move-downToUP{
  transform: translateY(120%);
  animation-name: moveDownToUP;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.ani-fadeIn-leftToRight{
  transform: translateX(-100%);
  animation-name: fadeInLeftToRight;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.ani-delay-1{
  animation-delay: 0.3s;
}

.ani-delay-2{
  animation-delay: 0.6s;
}

.ani-delay-3{
  animation-delay: 0.9s;
}

.ani-delay-4{
  animation-delay: 1s;
}

.ani-delay-5{
  animation-delay: 1.2s;
}

.ani-delay-6{
  animation-delay: 1.3s;
}

.ani-delay-7{
  animation-delay: 1.4s;
}





@keyframes moveDownToUP{
  from{
    transform: translateY(120%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInLeftToRight{
  from{
    transform: translateX(-100);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }

}

/* mediaqery---------- */

@media screen and (max-width:480px){
  .header{
  background-color: rgba(255,255, 255,.7);
  box-shadow: 0 5px 5px rgba(0,0,0,.05);
}

  .header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-ul{
    flex-direction: column;
    background-color: transparent;
  }
}

